div.loading {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  background-image: url('/static/images/ajax-loader.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border: 1px solid green;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
